@model IEnumerable<Student>
@{
    Layout = "_layout2";
    ViewBag.Title = "list";
}

<div class="container">
    <div class="container table-container">
        <a asp-action="Create" asp-controller="Student" class="btn btn-danger">Create</a><br /><br />

    <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Operations</th>
                </tr>
            </thead>
        <tbody id="UserTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>@item.Email</td>
                        <td>@item.Department?.DeptName</td> 
                        <td>
                            <a asp-action="Details" asp-controller="Student" asp-route-id="@item.Id" class="btn btn-custom btn-details btn-sm">    <i class="fas fa-info-circle"></i> Details</a>
                            <a asp-action="Delete" asp-controller="Student" asp-route-id="@item.Id" class="btn btn-custom btn-delete btn-sm">    <i class="fas fa-trash"></i> Delete</a>

                            <a asp-action="Update" asp-controller="Student" asp-route-id="@item.Id" class="btn btn-success btn-sm">    <i class="fas fa-edit"></i> Edit</a>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>



